<br>

<h3>Contact ZM Motors</h3>
<br>
<h4>Postal Address</h4>
<p>80, zhongguancun east road. Haidian district, Beijing, China</p>
<h4>Information Office </h4>
<table>
<tr><td>Phone</td><td>+8613051358386</td></tr>    
<tr><td>Fax</td><td>+8613051358386</td></tr>
<tr><td>Email</td><td>zakirullah98@gmail.com</td></tr>
<br>
</table>

<h4>ZM Motors Location</h4>

<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="550" height="440" src="https://maps.google.com/maps?hl=en&q=Zhongguancun, Haidian, Beijing China&ie=UTF8&t=roadmap&z=10&iwloc=B&output=embed"><div><small><a href="http://embedgooglemaps.com">
									embedgooglemaps.com
							</a></small></div><div><small><a href="https:/www.googlemapsgenerator.com/">generate Google Maps</a></small></div></iframe>